{% extends "base.html" %}
{% block title %}Choose a model{% endblock %}
{% block content %}
<div class-"card p-4">
    <h2 class="text-center">Select Supervised Type</h2>
    <form method="POST" class="mt-3">
        <div>
            <label for="model" class="form-label">Choose a Learning:</label>
            <select name="model" id="model" class="form-select" required>
                <option value="classification">Classification</option>
                <option value="regression">Regression</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success w-100">Train</button>
        
    </form>
</div>
{% endblock %}